In [2]:
import pandas as pd
import numpy as np
import matplotlib as plt
from sklearn.linear_model import LinearRegression as LR

In [4]:
rdf = pd.read_csv('raw/Data-Collisions.csv')

c:\program files (x86)\microsoft visual studio\shared\python36_64\lib\site-packages\IPython\core\interactiveshell.py:3051: DtypeWarning: Columns (33) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [7]:
rdf.dtypes

SEVERITYCODE        int64
X                 float64
Y                 float64
OBJECTID            int64
INCKEY              int64
COLDETKEY           int64
REPORTNO           object
STATUS             object
ADDRTYPE           object
INTKEY            float64
LOCATION           object
EXCEPTRSNCODE      object
EXCEPTRSNDESC      object
SEVERITYCODE.1      int64
SEVERITYDESC       object
COLLISIONTYPE      object
PERSONCOUNT         int64
PEDCOUNT            int64
PEDCYLCOUNT         int64
VEHCOUNT            int64
INCDATE            object
INCDTTM            object
JUNCTIONTYPE       object
SDOT_COLCODE        int64
SDOT_COLDESC       object
INATTENTIONIND     object
UNDERINFL          object
WEATHER            object
ROADCOND           object
LIGHTCOND          object
PEDROWNOTGRNT      object
SDOTCOLNUM        float64
SPEEDING           object
ST_COLCODE         object
ST_COLDESC         object
SEGLANEKEY          int64
CROSSWALKKEY        int64
HITPARKEDCAR       object
dtype: object

In this step, we should create a new dataframe with needed columns.

In [12]:
df = rdf[["SEVERITYCODE", "X","Y" , "PERSONCOUNT", "INCDTTM" ,"WEATHER" ,"ROADCOND" ,"LIGHTCOND" ,"UNDERINFL"]]
df.head()

,SEVERITYCODE,X,Y,PERSONCOUNT,INCDTTM,WEATHER,ROADCOND,LIGHTCOND,UNDERINFL
0,2,-122.323148,47.703140,2,3/27/2013 2:54:00 PM,Overcast,Wet,Daylight,N
1,1,-122.347294,47.647172,2,12/20/2006 6:55:00 PM,Raining,Wet,Dark - Street Lights On,0
2,1,-122.334540,47.607871,4,11/18/2004 10:20:00 AM,Overcast,Dry,Daylight,0
3,1,-122.334803,47.604803,3,3/29/2013 9:26:00 AM,Clear,Dry,Daylight,N
4,2,-122.306426,47.545739,2,1/28/2004 8:04:00 AM,Raining,Wet,Daylight,0

## Data Wrangling

-   Handle missing values
-   Correct data format
-   Standardize and Normalize Data

In [21]:
missing = df.isnull()

tf = []

for column in missing.columns.values.tolist():
    #print(column)
    #print (missing[column].value_counts())
    tf.append(missing[column].value_counts())
    
print(tf)
plt.plot()

[False    194673
Name: SEVERITYCODE, dtype: int64, False    189339
True       5334
Name: X, dtype: int64, False    189339
True       5334
Name: Y, dtype: int64, False    194673
Name: PERSONCOUNT, dtype: int64, False    194673
Name: INCDTTM, dtype: int64, False    189592
True       5081
Name: WEATHER, dtype: int64, False    189661
True       5012
Name: ROADCOND, dtype: int64, False    189503
True       5170
Name: LIGHTCOND, dtype: int64, False    189789
True       4884
Name: UNDERINFL, dtype: int64]